.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;

  @media only screen and (max-width: 850px) {
    width: 100%;
    font-size: 18px;
  }
}

.App-heading {
  color: orange;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 2%;
  margin: 0 auto;
  font-family: "Lucida Console", "Courier New", monospace;
  animation: typing 3.5s steps(40, end);

  @media only screen and (max-width: 350px) {
    width: 100%;
    font-size: 15px;
    white-space: normal;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.EditorContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width: 350px) {
    flex-direction: column;
    align-items: center;
  }
}

.editor::after {
  content: "";
  display: table;
  clear: both;
}

.editor {
  width: 540px;
  background-color: #aaaaaa;
  margin: 20px;
}

@media screen and (max-width: 350px) {
  .editor {
    width: 100%;
  }
}

.editorTitle {
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #000;
  float: center;
  padding: 2%;
}

.spacer {
  height: 50px;
}

.spacer2 {
  height: 10px;
}
