/* App.css */

/* Reset some default margins and paddings */
* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Media query for small screens */
@media only screen and (max-width: 850px) {
  .App-header {
    font-size: 18px;
  }
}

/* Heading styles */
.App-heading {
  color: orange;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 2%;
  margin: 0 auto;
  font-family: "Lucida Console", "Courier New", monospace;
  animation: typing 4.5s steps(40, end);
}

/* Media query for smaller screens */
@media only screen and (max-width: 350px) {
  .App-heading {
    font-size: 15px;
    white-space: normal;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.EditorContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

/* Media query for smaller screens */
@media screen and (max-width: 350px) {
  .EditorContainer {
    flex-direction: column;
    align-items: center;
  }
}

.editor {
  flex: 1;
  background-color: #aaaaaa;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: gray;
  color: black;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.editor:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.editorTitle {
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #000;
  margin-bottom: 10px;
}

.spacer {
  height: 30px;
}

.preview-iframe {
  width: 100%;
  height: 500px;
  border: none;
  margin-top: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* Additional styles for mobile responsiveness */
@media screen and (max-width: 350px) {
  .preview-iframe {
    height: 300px;
  }
}
